body{
    background-color: rgb(238, 238, 238);
    color: rgb(14, 14, 14);
    background-image: url(high_res_sand.jpg);
}
h1{
    color: rgba(80, 7, 7, 0.914);
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(65, 65, 65);
}